html, body {
    background-color:aliceblue;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
}
a {
    color: blue
    text-decoration: none;
}
a:hover {
    /* background-color: blue; */
    color: white;
}