:root {
    --green: #058530;
    --pink: #FDC4EA;
    --blue: #1639E9;
    --white: #FEFBFD;
    --black: #080206;
}

body {
    background-color:var(--white);
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color:var(--black);
}
a {
    color: var(--blue);
    text-decoration: none;
}
a:hover {
    background-color: var(--blue);
    color: var(--white);
}

footer {
    position: fixed;
    bottom: 0.75em;
    left: 1.25em;
  
    /* display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
      -webkit-flex-direction: row;
  
    gap: 0.5em; */
  }